[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager.git
	branch = master
[submodule "components/oled_ssd1306"]
	path = components/oled_ssd1306
	url = https://github.com/gengyuchao/oled_ssd1306.git
[submodule "components/tarablessd1306"]
	path = components/tarablessd1306
	url = https://github.com/TaraHoleInIt/tarablessd1306.git
[submodule "components/micro_tz_db"]
	path = components/micro_tz_db
	url = https://github.com/marknotgeorge/micro_tz_db.git
